.btn {
    cursor: pointer;
    display: flex;
    gap: .5em;
    padding: 0.5em 1em;
    background-color: #ffffff;
    border: 1px solid #70707038;
    border-radius: 4px;
}

.btn-primary {
    background-color: #1e88e5;
    color: #ffffff;
    border: 1px solid #1e88e5;
}

.btn-primary:hover {
    background-color: #1565c0;
    color: #ffffff;
    border: 1px solid #1565c0;
}

.btn-secondary {
    background-color: #ffffff;
    border: 1px solid #70707038;
}

.btn-disabled {
    background-color: #ffffff;
    color: #707070;
    border: 1px solid #70707038;
    cursor: not-allowed;
}