.custom-date-range-picker .react-daterange-picker__wrapper {
    border-radius: 4px;
    border: 1px solid #70707038;
    padding: 0.5em 1em;
    cursor: pointer;
}

.custom-date-range-picker .react-daterange-picker__inputGroup,
.custom-date-range-picker .react-daterange-picker__range-divider {
    display: none;
}

.custom-date-range-picker .react-daterange-picker__calendar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.custom-date-range-picker .react-calendar {
    border-radius: 4px;
    border: 1px solid #70707038;
}

.custom-date-range-picker-icon {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1em;
    font-size: 15px;
    font-weight: bold;
}