.search-list-input {
    width: 100%;
    border: 1px solid var(--light-secondary-color);
    border-radius: 4px;
    padding: .5em 1em;
}

.search-list {
    height: 10em;
    overflow-y: auto;
    margin-top: .5em;
}

.search-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    margin-right: .5em;
    padding: .5em .25em;
    cursor: pointer;
    border-radius: 5px;
}

.search-list-item-selected {
    background-color: var(--light-secondary-color);
}

.search-list-item-title {
    font-size: 15px;
}

.search-list-item-subtitle {
    font-size: 11px;
    color: var(--secondary-color);
}