.customButton button {
    padding: 0.5em 1em;
    background-color: transparent;
    border: 1px solid #70707038;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    cursor: pointer;
}